<h1> Organisations A-Z </h1>

<ul class="pagination">
  <% ("A".."Z").each do |letter| %>
    <li> <%= link_to letter, organisations_path(limit: letter) %> </li>    
  <% end %>
</ul>

<ul class="list-group">
  <% @organisations.each do |org| %>
      <li class="list-group-item"> <%= link_to org.name, org %> </li>
  <% end %>
</ul>

