<div class="row">
  <div class="col-lg-4">
    LOGO 
  </div>

  <div class="col-lg-8">
    <h2> <%= @organisation.name %> </h2>
    <h4> formerly <%= @organisation.former_name %> </h4>

    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-6">
          <%= @organisation.street_address %>
        </div>
        <div class="col-lg-6">

        </div>
      </div>
    </div>
  </div>
</div>
