<div class="jumbotron">
  <h1> Welcome to SAcommunity! </h1>
  <p>
  SAcommunity is South Australia's community information directory. Its purpose is to enable you to
  <ul>
    <li> find out about help available from government, non-government and community services throughout SA </li>
    <li> find out how you can connect with and get involved in your communit </li>
  </ul>
  </p>

  <%= link_to "Browse today!", "/test", class: "btn btn-primary" %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <h3> Browse the directory </h3>
      <p>
      Slow-carb post-ironic aesthetic master cleanse, marfa stumptown organic polaroid gluten-free kogi. Pitchfork fanny pack vinyl plaid offal mixtape. Raw denim seitan chartreuse listicle brunch lomo. Deep v swag cliche butcher letterpress umami. Ugh kombucha stumptown narwhal listicle roof party, lumbersexual celiac occupy cliche flannel mixtape truffaut. Scenester yr forage, narwhal blog direct trade vegan venmo jean shorts wolf put a bird on it taxidermy. Blue bottle squid authentic organic, artisan williamsburg street art you probably haven't heard of them vinyl stumptown.
      </p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail">
      <h3> Signup for our newsletter </h3>
      <p>
      Slow-carb post-ironic aesthetic master cleanse, marfa stumptown organic polaroid gluten-free kogi. Pitchfork fanny pack vinyl plaid offal mixtape. Raw denim seitan chartreuse listicle brunch lomo. Deep v swag cliche butcher letterpress umami. Ugh kombucha stumptown narwhal listicle roof party, lumbersexual celiac occupy cliche flannel mixtape truffaut. Scenester yr forage, narwhal blog direct trade vegan venmo jean shorts wolf put a bird on it taxidermy. Blue bottle squid authentic organic, artisan williamsburg street art you probably haven't heard of them vinyl stumptown.
      </p>
    </div>
  </div>
</div>
