<div id="list-your-org">
  Listing your organisation on SAcommunity is <b>free</b>. 
  You must have an account on our system in order to add a listing. 
  Organisations submitted are subject to approval by Connecting Up . Please follow the steps outlined below:

  <h2> 1. Does your organisation meet our criteria? </h2>
  <p>
  Organisations are eligible for inclusion on our site if they are non-profit and provide services that are available to the community. Full criteria are available here.
  </p>


  <h2> 2. Do you have an account on SACommunity? </h2>
  <h3> Yes </h3>
  <ul>
    <li> Log in using your username and password </li>
    <li> <%= link_to "Create a new organisation.", new_organisation_path %> Please add all relevent information </li>
  </ul>
  <h3> No </h3>
  <ul>
    <li> Please register to create your account </li>
    <li> Log in using your username and password </li>
    <li> <%= link_to "Create a new organisation.", new_organisation_path %> Please add all relevent information </li>
  </ul>

  <h2> 3. What happens next? </h2>
  <p> Organisations that are added to SAcommunity will be moderated to ensure that </p>
  <ul>
    <li> They meet our criteria </li>
    <li> Sufficient details are included </li>
    <li> There is compliance with our editorial style </li>
    <li> They do not duplicate existing content </li>
  </ul>
  <p> After you have added an organisation, you can log in again at any time to change or update details as required. </p>
  <p> Connecting Up retains editorial control and reserves the right to exclude organisations that do not meet the criteria, and to modify content to comply with our style and standards. </p>

  <h2> 4. Any questions? </h2>
  <p> Please contact us </p>

</div>
