<h1> Services A-Z </h1>

<ul class="pagination">
  <% ("A".."Z").each do |letter| %>
    <li> <%= link_to letter, subjects_path(limit: letter) %> </li>
  <% end %>
</ul>

<ul class="list-group">
  <% @subjects.each do |s| %>
      <% count = s.organisations.count %>
      <% if count > 0 %>
        <li class="list-group-item"> 
          <span class="badge"> <%= "#{count}" %> </span>
          <%= link_to s.name, s %> 
        </li>
      <% end %>
  <% end %>
</ul>
