<h1> Services A-Z </h1>

<ul class="pagination">
  <% ("A".."Z").each do |letter| %>
    <li> <%= link_to letter, subjects_path(limit: letter) %> </li>
  <% end %>
</ul>

<ul class="list-group">
  <% @subjects.each do |s| %>
      <li class="list-group-item"> 
        <span class="badge"> <%= "#{s.organisations.count}" %> </span>
        <%= link_to s.name, s %> 
      </li>
  <% end %>
</ul>
