<h1> Search results </h1>

<div class="row">
  <div class="col-md-4">

  </div>

  <div class="col-md-8">
    <% @results.each do |r| %>
      <div class="row">
        <div class="col-md-4">
          LOGO AREA
        </div>

        <div class="col-md-8">
          <div class="row">
            <%= link_to r.name, r %>
          </div>
          <div class="row">
            <span class="address"> <%= r.street_address %> </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
